
/* Auth Pages */
.auth-cover-app {
  animation-name: fadeHorizontal;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes fadeHorizontal {
  0% {
      transform: translate(-50%, 0);
  }
  100% {
      transform: translate(0,0);
  }
}

.bg-right {
  background: #FAFCFF;
}

/* Login Page */
.handle-error {
  margin: -35px 0px;
}

.btn-login {
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 12px;
  padding: 15px;
  transition: 500ms;
}
.btn-login:hover {
  border-radius: 30px;
  cursor: pointer;
}
.icon-eyecrossed {
  margin-right: 15px;
  margin-top: -80px;
  cursor: pointer;
}
.text-error {
  color: #FF5B37;
}
.border-error {
  border-bottom:1px solid #ff0000 !important;
}

/* Create PIN page */
.otp-field {
  width: 53px;
  height: 65px;
  border-radius: 10px;
  margin-right: 50px;
  padding-left: 12px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: Nunito Sans !important;
}